@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Estore</h1>
    <p>PLEASE CHOOSE YOUR OPTION ABOVE TO USE</p>
    @*<a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>*@
</div>
